.clearfix {
    border-radius: 5px;
    height: 150px;
    margin: 100px;
    transition: transform 1s;
   
    animation-name: example;
    animation-duration: 4s;
    background: rgb(86, 105, 167);  
    padding-top: 25px;
    width: 300px;
    transition: padding-top 2s ease-in 250ms;
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.clearfix li:active {
    font-size: 100px;
}

  .clearfix li:hover {
    transform: scale(.95);
    /* width: 400px; */
  }

